.title {
	text-align: center;
}

.grid {
	margin: auto;
	border-spacing: 0;
	border: solid 2px #111;
}

.tile {
	background-color: #2e3338;
	width: 12px;
	height: 12px;
	cursor: pointer;
	margin: 0;
	padding: 0;
	border: solid 1px #111;
}

.tile:hover {
	background-color: #484D52;
}

.whiteTile {
	background-color: white !important;
}